@import '../variables.scss';

.root {

}

.author {

}

.imgWrapper {
  text-align: left;
}

.bringToFront {
  z-index: 2;
}

.vidOpt {
  float: right;
  text-align: right;
}

.cardExtra {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
}

.topHugger {
  margin-top: 0;
  z-index: 999999;
}

.bottomHugger {
  margin-bottom: 0;
}

.bottomNone {
  padding-bottom: 0;
}

.videoTitle {
  font-size:25px;
}

