

.root { }

.listItem {
  min-height: 42px !important;
  padding: 0 20px !important;
  padding-left: 72px !important;
  line-height: 1.5 !important;
}

.commentArea {
  resize: none;
  padding: 0 !important;
  margin: 0 !important;
  min-height: 0 !important;
}
